body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
}

.container:not(:last-child) {
    margin-bottom: 20px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
     position: sticky;
 }

 .green {
     background-color: green;
 }

 .blue {
     background-color: blue;
 }

 .red {
     background-color: red;
 }

 .purple {
     background-color: purple;
 }

 .rect, .square {
     width: 100px;
 }

 .rect {
     aspect-ratio: 16/9;
 }

 .square {
     aspect-ratio: 1/1;
 }

.w-xs {
    width: 60px;
}

.w-lg {
    width: 300px;
}

.w-xl {
    width: 900px;
}

.live-1 .square.green {
    bottom: 0;
    left: 100%;
}

.live-2 .square.blue:nth-child(2) {
    top: 0;
    right: 0;
}

.live-2 .square.blue:nth-child(3) {
    bottom: 0;
    right: 0;
}

.live-2 .square.green {
    bottom: 50px;
    right: 50px
}